body{
    background-color:rgba(227, 219, 219, 0.904);

}
.navbar{
    text-align: center;
    text-wrap: nowrap;
    background-color:darkslategray;
    padding: 30px;
    justify-content: space-around;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.fa-github{
    float: left;
    position: relative;
    margin-left: -1%;
    font-size: 30px;
}


.search input[type=text] {
    display: flex;
    font-size: 25px;
    width: 550px;
    height: 60px;
    border-radius: 25px;
    background-color: black;
    justify-content:space-between;
    position: relative;
    top: 100px;
    right: -400px;

    
}
.search button{
    align-items: center;
    color: #f2f2f2;
    padding: 35px 40px;
}
.parent{
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 25px;
    width: 300px;
    height: 550px;
    
    
}
.child {
    display: flex;

}

.container{
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
}
.container > div{
    row-gap: 20px;
    width: 200px;
    height: 150px;
    border-radius: 25px;
    background-color: black;
    justify-content:space-between;
    position: relative;
    top: 150px;
    right: -350px;
}

.bottom{
   
   display: flex;
    justify-content: flex-end;
   flex-direction: column;
   gap: 20px;
}


.bottom > div{
    width: 800px;
    height: 560px;
    border-radius: 25px;
    background-color: black;
    position: relative;
    top: 250px;
    right: 750px;
}


    


